.container-404 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.container-404 h1 {
  font-size: 14em;
  color: #ff6060;
}

h1 + p {
  color: #ff6060;
  font-size: 1.5em;
}

p + a {
  color: #ff6060;
  text-decoration: underline;
}

@media all and (max-width: 375px) {
  .container-404 h1 {
    font-size: 7em;
    margin-bottom: 5px;
  }
  h1 + p {
    font-size: 1em;
    text-align: center;
  }
  p + a {
    font-size: 0.6em;
  }
}
